



.fa, .fas
{
    padding-right: 15px;
} 

.fa-trash 
{
    color: red;
    font-size: 10px;

}
.fa-edit
{
    color: green;
    font-size: 10px;
}

/* ------------------------form---------------- */
.dob 
{
    border: solid 1px #e7e7e7;
    border-radius: 5px;
    padding-left: 20px;
    margin-left: 20px;
    /* width: 410px; */
}
.dob2
{
    border: solid 1px #e7e7e7;
    border-radius: 5px;
    width: 410px;
    margin-left: 20px;

}
.form_check
{
    padding-bottom: 20px;
}
/* login */
#logout
{
    color: #e3e3e3;
    font-size: 20px;
    text-align: center;
    padding-top: 0 !important;
    outline: none;
}
.create
{
    margin: 10px;
}
.btn 
{
    border: 2px solid #6e707e;
}
.pagelogin
{
    margin: 0;
    padding: 0;
    background: #6e707e no-repeat;
    background-size: cover;
    height: 90vh;
}
.login_panel
{
    width: 280px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
}
.login_panel h1
{
    font-size: 40px;
    border-bottom: 5px solid#4a2082;
    margin-bottom: 35px;
    padding: 8px 0;
}
.textbox
{
    width: 100%;
    overflow: hidden;
    font-size: 20px;
    padding: 8px 0;
    margin: 8px 0;
    border-bottom: 1px solid #4a2082;
}
.textbox input
{
    border:none;
    outline: none;
    background: none;
    color: #fff;
    font-size: 18px;
    width: 80%;
    margin: 0 10px;
}
.bottonlog
{
    width: 100%;
    border: 2px solid #4a2082;
    background: none;
    color: #ffffff !important;
    font-size: 18px;
   
}
::placeholder
{
    color: rgb(127, 199, 79);
}
span
{
    color: #fff;
    font-size: 18px;
}
.list
{
    padding-left: 20px;
}
/* -------------------Biodata-------------- */
.biodata
{
    padding: 20px;
    width: 98%;
    background: #fff;
    margin: auto;
    box-shadow: 4px 4px 2px #d0c9c9;
    border-radius: 20px;
    margin-bottom: 50px;
}
/* ---------------Members--------------- */
.members
{
    padding: 20px;
    width: 98%;
    background: #fff;
    margin: auto;
    box-shadow: 4px 4px 2px #d0c9c9;
    border-radius: 20px;
    margin-bottom: 50px;
}

/* ---------------------Financial -------------- */
.finance
{
    padding: 20px;
    width: 98%;
    background: #fff;
    margin: auto;
    box-shadow: 6px 6px 4px #d0c9c9;
    border-radius: 20px;
    margin-bottom: 50px;
}
.form-group
{
    padding-right: 10px;
}

.container
{
    border-radius: 50%;
}
.header
{
    font-size: 20px;
    font-family: 'Charm';
}
.main-footer
{
    position:absolute;
    left:0;
    right:0;
    bottom:100%;
    /* padding-bottom: 60px; */
}









/ /


/ team members /
#team
{
padding: 50px 0;
color: #555
}

h1
{
text-align: center;
color:#555 !important;
padding-bottom: 10px;
}

h1::after
{
content:"";
background:#007bff;
display: block;
height: 3px;
width: 170px;
margin: 10px auto 5px;
}

.profile-pic
{
margin-top : 25px;

}
.profile-pic .img-box
{
opacity: 1;
display: block;
position: relative;
}

.profile-pic .img-box img
{
filter : grayscale(1);
width:100%;
}

.profile-pic .img-box img:hover
{
filter : grayscale(0);

}
.profile-pic h2
{
font-size: 22px;
font-weight: bold;
margin-top: 15px;
color: #007bff !important;
}
.profile-pic h3
{
font-size: 22px;
font-weight: bold;
margin-top: 15px;
}

#team .fa
{
height: 25px;
width:25px;
color:#007bff !important;
background:#fff;
padding: 4px;
border-radius: 50%;
}

.img-box ul
{
padding: 15px 0;
position: absolute;
z-index: 2;
bottom:0;
left: 50%;
transform: translateX(-50%);
opacity: 0;
}
.img-box ul li
{
padding: 5px;
display: inline-block;
}

.img-box:hover ul
{
opacity: 1;
}
.img-box ul, .img-box ul li
{
transition: 0.7s;
}





ul li:last-child
{
border:none;
}

.fa-check-circle
{
color: green;
margin-right: 10px;
font-size: 20px;
}

.fa-times-circle
{
color: red;
margin-right: 10px;
font-size: 20px;
}

.price-button
{
display: inline;
float: left;
padding: 15px 15px 30px;
text-align: center;
width: 100%;
}
.buy-btn
{
background-color: #2196f3;
border-radius: 3px;
display: inline-block;
font-size: 18px;
padding: 15px 50px;
transition: 0.5s;
}

.buy-btn:hover
{
border: 1px solid #fff;
background-color: #3f51b5;

}
a
{
text-decoration: none!important;
color: #fff!important;
}

.profile
{
padding: 70px 10px 10px;
background-color: #efefef;
}
.profile img
{
top: -60px;
position: absolute;
left: calc(50% - 60px);
border: 1px solid #fff;
}

.user
{
width: 120px;
height: 120px;
border-radius: 50%;

}
.profile h3
{
font-size:20px;
margin-top: 15px;
color: #007bff;
}

#testimonials span
{
font-size: 12px;
color: #333;
}

blockquote
{
font-size: 16px;
line-height: 30px;

}
blockquote::before
{
content:'\93';
font-size: 50px;
color: #007bff;
position: relative;
line-height: 20px;
bottom:-15px;
right:5px;
}
blockquote::after
{
content:'\94';
font-size: 50px;
color: #007bff;
position: relative;
line-height: 20px;
bottom:-15px;
right:5px;
}
.profile:hover
{
box-shadow: 0 0 15px 5px rgba(0,0,0,0.2);
cursor: pointer;
transition: 0.5s;
}

/* get in touch*/
#contact-us
{
background:#efefef;
padding:40px 0;
color:#fff;
}

.contact-form
{
padding:15px;
}

.form-control
{
border-radius:0 !important;

}
::placeholder
{
color: #999 !important;
}

.follow
{
background: #fff;
padding: 10px;
margin: 15px;
}
.contact-info .fa
{
margin: 10px;
color: #007bff;
font-weight: bold;
}

#footer
{
background-color: #333;
color:#fff;
padding: 12px;
}

.fa-heart
{
margin: 3px;
color:red;
}


